################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/RotmgManager/FileContentIndex
/.vs/RotmgManager/FileContentIndex
